html {
    background: #ccc;
    font: 14px/1.5 "Tahoma", sans-serif;
}
h1 {
    color: #444;
    font: normal 36px "Helvetica", sans-serif;
    text-align: right;
    border-bottom: 3px solid #EAEBEB;
    padding-bottom: 15px;
    margin: 0 0 106px;
}
h2 {
    font-size: 18px;
    margin: 60px 0 21px;
    padding-bottom: 11px;
    color: #444;
    border-bottom: 2px solid #EBECEC;
}
p {
    margin: 0 0 34px 0;
}
pre {
    margin: 0;
}
@media screen {
    .code:before {
        content: ' ';
        height: 15px;
        margin-bottom: 15px;
        background: #FDECAD;
        display: block;
    }
    .code:after {
        content: ' ';
        height: 4px;
        margin: 11px 0 34px;
        background: #FDD95D;
        display: block;
    }
}
code {
    color: #37571e;
    font-family: Courier, "Courier New", monospace;
}
code .comment {
    color: #7a7;
}
code .string {
    color: #b45e09;
}
.pdf {}
.pdf .page {
    width: 788px;
    background: #FFF;
    margin: 5px auto 30px;
    position: relative;
    padding: 56px 75px;
    box-sizing: border-box;
}
.pdf .body {}
.pdf .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 38px;
}
.pdf .footer .page-num {
    text-align: center;
}

@media print {
    .pdf .page {
        width: auto;
        height: auto;
        background: #FFF;
        margin: 0;
        position: static;
        padding: 0;
        box-sizing: content-box;
    }
    .visible-screen {
        display: none;
    }
    .code {
        border-top: 15px solid #FDECAD;
        border-bottom: 4px solid #FDD95D;
        margin: 10px 0 15px 0;
    }
    a:after {
        content: " (" attr(href) ") ";
        font: normal 0.8em;
    }
}