html, body, div, span, h1, h2, p, pre, a, code, em, img, strong, b, i {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    background-color: #565656;
    padding: 4px;
    font: normal 16px Arial, Helvetica, sans-serif;
    text-align: left;
    color: #000;
}
h1 {
    font: normal 43px Arial, Helvetica, sans-serif;
    text-align: right;
    color: #444;
    border-bottom: 4px solid #ebebeb;
    letter-spacing: -1px;
    margin: 0 0 117px;
    padding: 0 0 10px;
    page-break-after: avoid;
}
h2 {
    font: bold 20px Tahoma, Geneva, sans-serif;
    color: #444;
    margin: 65px 0 20px;
    border-bottom: 2px solid #ebebeb;
    page-break-after: avoid;
    padding-bottom: 11px;
}
p {
    line-height: 28px;
    margin: 0 0 28px;
}
pre {
    font: bold 15px "Courier New", Courier, monospace;
    color: #34571e;
    border-bottom: solid 4px #ffd966;
    margin: 0 0 27px;
    padding: 0 0 12px;
}
pre::before {
    content: '';
    height: 25px;
    display: block;
    margin: 33px 0 18px;
    background: #fff2c4;
    background: -moz-linear-gradient(top, #fff2c4 0%, #ffdd67 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff2c4), color-stop(100%,#ffdd67));
    background: -webkit-linear-gradient(top, #fff2c4 0%,#ffdd67 100%);
    background: -o-linear-gradient(top, #fff2c4 0%,#ffdd67 100%);
    background: -ms-linear-gradient(top, #fff2c4 0%,#ffdd67 100%);
    background: linear-gradient(to bottom, #fff2c4 0%,#ffdd67 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff2c4', endColorstr='#ffdd67',GradientType=0 );
}
pre .comment {
    color: #7a7a7a;
}
pre .value {
    color: #b45e05;
}
code {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: #B45F06;
}
strong {
    font-weight: bold;
}
em, i {
    font-style: italic;
    color: #606060;
}
a {
    color: #021eaa;
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
.content {
    margin: 0 auto;
    background-color: #fff;
    max-width: 770px;
    padding: 55px 82px;
}
.page-break {
    page-break-after: auto;
    display: block;
    height: 0;
}
@media print {
    body {
        background-color: #fff;
        margin: 0;
        font-size: 14px;
    }
    h1 {
        margin: 0 0 75px;
    }
    h2 {
        margin: 35px 0 15px;
        padding: 0 0 7px;
    }
    p {
        line-height: 25px;
    }
    p:last-child {
        margin-bottom: 0;
    }
    pre {
        border-top: solid 25px #ffd966;
    }
    pre:before {
        display: block;
        height: 0;
        margin: 0 0 18px;
    }
    .content {
        padding: 0;
        max-width: none;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
}