doctype 5
//if IE 7
    <html class="ie7" lang="en">
//if IE 8
    <html class="ie8" lang="en">
// if gt IE 8]><!
html(lang='en')
    // <![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title='1-introduction | Yandex.School.2013 | Gogolev Sergey'
        link(href='assets/'+options.compiledAssetsName+'.css', rel='stylesheet')
    body.page
        include ../modules/book.chapter/book.chapter.1.jade