/*! [BOOK CHAPTER] */

/* Variables */
chapterHeaderColor=#343434
chapterHeaderBorderColor=#e5e5e5
chapterEmColor=#5d5d5d

/* Functions */
chapter-h(n)
  color chapterHeaderColor
  border-bottom chapterHeaderBorderColor solid n

/* Styles */
.chapter
  padding 50px 70px 0
  background #fff

  &-group
    padding 0 0 30px

  &-h1
    margin 0 0 100px
    padding 0 0 8px
    text-align right
    font 400 37px/43px 'Arial Narrow', Arial, sans-serif
    chapter-h(2px)

  &-h2
    margin 0 0 20px
    padding 0 0 6px
    font 700 17px/27px Tahoma, Geneva, sans-serif
    chapter-h(1px)

  &-p
    margin 0 0 30px
    font 15px/25px Helvetica, Arial, sans-serif

  &-em
    color chapterEmColor

/*! Remove padding on chapter element because print page already has it */
@media print
  .chapter
    padding 0
