body {
	width: 772px;
	padding: 53px 81px 30px;
	margin: 0px auto 15px;
}

h2,
h3 {
	border-bottom: 4px solid #E9E9E9;
}

h2 {
	padding-bottom: 11px;
	margin: 0px 0px 118px;
	text-align: right;
	font: normal 32pt 'Arial Narrow', Arial;
	color: #444;
}

h3 {
	padding-bottom: 12px;
	margin: 53px 0px 21px;
	border-width: 2px;
	font: bold 15pt Tahoma;
	color: #444;
}

p {
	margin: 0px 0px 12px;
	padding-bottom: 11px;
	font: 13pt/21pt 'Helvetica';
}

a {
	color: #021EAB;
}

em {
	color: #B45F06;
	font-style: normal;
}

var,
.commentary {
	color: #7A7A7A;
}

code {
	font: bold 10pt 'Courier New';
}

code.block-code {
	display: block;
	padding-bottom: 15px;
	margin: 17px 0px 28px;
	border-bottom: 4px solid #FFD966;
	color: #34581E;
}

code.inline-code {
	font-size: 11pt;
	color: #B45F06;
}

.gradient {
	height: 25px;
	margin-top: 21px;
	background: url('bg.png');
	background: -moz-linear-gradient(top,  #fff2c4 0%, #ffdd66 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff2c4), color-stop(100%,#ffdd66)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff2c4 0%,#ffdd66 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff2c4 0%,#ffdd66 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff2c4 0%,#ffdd66 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff2c4 0%,#ffdd66 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff2c4', endColorstr='#ffdd66',GradientType=0 ); /* IE6-9 */
}

/* PRINT RULES */

@page {
	margin: 0.4in 0.5in;
}

@media print {

	body {
		padding: 53px 0px 30px;
		width: 100%;
	}

	p {
		font: 11pt/13pt 'Helvetica';
	}

	h2 {
		font-size: 26pt;
		border-width: 3px;
	}

	h3 {
		font-size: 13pt;
		border-width: 1px;
	}

	code.block-code {
		font-size: 9pt;
	}

}