section {
	width: 770px;
	margin: 58px auto;
	padding: 0;
}
	h1 {
		margin: 0 0 118px;
		border-bottom: 4px solid #ebebeb;
		padding: 0 0 15px;
		font: 400 43px/43px "Arial Narrow", Arial, sans-serif;
		color: #444;
		text-align: right;
	}
	h2 {
		margin: 57px 0 10px;
		border-bottom: 2px solid #ebebeb;
		padding: 0 0 4px;
		font: 700 20px/40px "Verdana Pro", Verdana, sans-serif;
		color: #444;
	}
	p {
		margin: 21px 0 7px;
		padding: 0;
		font: 400 17px/28px Helvetica, Arial, sans-serif;
		color: #000;
	}
		.ref {
			font-style: italic;
			color: #606060;
		}
		.js {
			font: 15px/28px "Courier New", monospace;
			color: #b45f06;
		}
		a {
			color: #021eaa;
		}
	.listing {
		margin: 0 0 28px;
		border-bottom: 3px solid #ffd966;
		padding: 0 0 10px;
	}
		.listing:before{
			content: "";
			display: block;
			height: 25px;
			margin: 30px 0 15px;
			background: #ffd966;
			background:        -webkit-gradient(to bottom, #fff2c4, #fd6);
			background: -webkit-linear-gradient(to bottom, #fff2c4, #fd6);
			background:    -moz-linear-gradient(to bottom, #fff2c4, #fd6);
			background:     -ms-linear-gradient(to bottom, #fff2c4, #fd6);
			background:      -o-linear-gradient(to bottom, #fff2c4, #fd6);
			background:         linear-gradient(to bottom, #fff2c4, #fd6);
		}
		.listing p {
			font: 700 14px/15px Courier, "Courier New", monospace;
			color: #34581e;
		}
			.comment {
				color: #7a7a7a;
			}
			.string {
				color: #b45f06;
			}

@media print {
	section {
		margin: 0 auto;
	}
		h2 {
			page-break-after: avoid;
		}
		.listing {
			/* Вместо .listing:before вставим одноцветную границу того же размера */
			margin-top: 30px;
			border-top: 25px solid #ffd966;
			padding-top: 15px;
		}
			.listing:before{
				display: none;
			}
		p, .listing {
			page-break-inside: avoid;
		}
		a {
			font-weight: 700;
			/*если оставить text-decoration то адрес ссылки из a:after из-за подчеркивания становится нечитабельным, а text-decoration:none для a:after не работает так как подчеркивание идет у родителя, поэтому удаляем подчеркивание, ставим нижнюю границу у самой ссылки СИНИМ...*/
			text-decoration: none;
			border-bottom: 1px solid #021eaa;
		}
		a:after {
			content: " (" attr(href) ")";
			font-weight: 400;
			color: #000;
			/*... а у ее адреса ставим БЕЛУЮ - в цвет фона, тогда ее как бы и нет :) Проверял как работает не в @media print {} - отображается правильно в браузерах, но в предварительном просмотре печати иногда отображает светлоголубое подчеркивание у адреса ссылки */
			border-bottom: 2px solid #fff;
		}
}