/* style.css */
* {margin:0;padding:0;}

section {
	width: 770px;
	margin:58px auto;
	font-size: 17px;
}

	h1 {
		font-family: "Arial Narrow", Arial, sans-serif;
		color: #444;
		text-align: right;
		font-weight: 400;
		font-size: 252.9411764705882%;
		line-height: 1;
		padding-bottom: 15px;
		border-bottom: 4px solid #ebebeb;
		margin-bottom: 118px;
	}

	h2 {
		margin: 57px 0 10px;
		font-family: "Verdana Pro", Verdana, sans-serif;
		font-size: 117.6470588235294%;
		line-height: 2;
		color:#444;
		padding-bottom: 4px;
		border-bottom: 2px solid #ebebeb;
	}

	p {
		font-family: Helvetica, Arial, sans-serif;
		color: #000;
		font-size: 100%;
		line-height: 1.647058823529412;
		margin:21px 0 7px;
	}
		.ref {
			font-style: italic;
			color:#606060;
		}
		.js {
			font-family: "Courier New", monospace;
			color: #b45f06;
			font-size: 88.23529411764706%;
			line-height: 1.866666666666667;
		}
		a {
			color:#021eaa;
		}

	.listing {
		padding: 0 0 10px;
		border-bottom: 3px solid #ffd966;
		margin-bottom: 28px;
	}
		.listing:before{
			content:"";
			display: block;
			margin:30px 0 15px;
			height:25px;
			background: #ffd966;
			background: -moz-linear-gradient(to bottom, #fff2c4, #ffdd66);
			background: -webkit-gradient(to bottom, #fff2c4, #ffdd66);
			background: -webkit-linear-gradient(to bottom, #fff2c4, #ffdd66);
			background: -o-linear-gradient(to bottom, #fff2c4, #ffdd66);
			background: -ms-linear-gradient(to bottom, #fff2c4, #ffdd66);
			background: linear-gradient(to bottom, #fff2c4, #ffdd66);
		}
		.listing p {
			font-family: Courier, "Courier New", monospace;
			color: #34581e;
			font-size: 82.35294117647059%;
			font-weight:700;
			line-height: 108%;
		}
			.listing p span {
				font-size: inherit;
				font-weight: inherit;
				line-height: inherit;
			}
			.comment {
				color: #7a7a7a;
			}
			.string {
				color: #b45f06;
			}

@media print {
	
	section {
		margin: 0 auto;
	}

		h2 {
			page-break-after: avoid;
		}
		.listing {
			/* Вместо .listing:before вставим одноцветную границу того же размера */
			margin-top: 30px;
			border-top: 25px solid #ffd966;
			padding-top:15px;
			page-break-inside: avoid;
		}
			.listing:before{
				display: none;
			}
		p {
			page-break-inside: avoid;
		}
		a {
			font-weight: 700;
			/*если оставить text-decoration то адрес ссылки из a:after из-за подчеркивания становится нечитабельным, а text-decoration:none для a:after не работает так как подчеркивание идет у родителя, поэтому удаляем подчеркивание, ставим нижнюю границу у самой ссылки СИНИМ...*/
			text-decoration: none;
			border-bottom: 1px solid #021eaa;
		}
		a:after {
			font-weight: 400;
			content:" (" attr(href) ")";
			color:#000;
			/*... а у ее адреса ставим БЕЛУЮ - в цвет фона, тогда ее как бы и нет :) Проверял как работает не в @media print {} - отображается правильно в браузерах, но в предварительном просмотре печати иногда отображает светлоголубое подчеркивание у адреса ссылки */
			border-bottom: 2px solid #fff;
		}
}