/* Normalize css 0.0.1 | 2013, Sergey Gogolev (gogoleff@gmail.com) | CC BY 3.0 */
/* Inspired by normalize.css 2.1.3 and 1.1.3 | Nicolas Gallagher (git.io/normalize) | MIT */
/* [HTML and BODY] */
/* Set default font family to sans-serif */
/* Prevent text size adjust after orientation change, without disabling user zoom in iOS and Windows Phone */
html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* Set default font size */
/* Remove default margin */
body {
  font-size: 12px;
  margin: 0;
}
/* [LINKS] */
/* Remove the gray background color from active links in IE 10 */
a {
  background: transparent;
}
/* Address `outline` inconsistency between Chrome and other browsers */
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and also mouse hovered in all browsers */
a:active,
a:hover {
  outline: 0;
}
/* [TYPOGRAPHY] */
/* Address <abbr> styling not present in IE 8/9, Safari 5, and Chrome */
abbr[title] {
  border-bottom: 1px dotted;
}
/* Address <b> and <strong> styling not present in Firefox 4+, Safari 5, and Chrome */
b,
strong {
  font-weight: bold;
}
/* Address <dfn> styling not present in Safari 5 and Chrome */
dfn {
  font-style: italic;
}
/* Remove differences between Firefox and other browsers for <hr> */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/* Address <mark> styling (yellow background) not present in IE 8/9 */
mark {
  background: #ff0;
  color: #000;
}
/* Set default font of pre-formatted text in all browsers */
/* Set default white space behaviour */
code,
kbd,
pre,
samp {
  font: 400 12px monospace, serif;
  white-space: pre-wrap;
}
/* Address <small> inconsistent and variable font size in all browsers */
small {
  font-size: 80%;
}
/* Prevent <sub> and <sup> affecting `line-height` in all browsers */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* [BOOK PAGE] */
.page {
  background: #999;
  color: #000;
}
@media print {
  @page {
    margin: 40px 70px;
  }
}
/* [BOOK CHAPTER] */
.chapter {
  margin: 0 auto;
  padding: 50px 70px 0;
  width: 670px;
  background: #fff;
}
.chapter-group {
  padding-bottom: 30px;
}
.chapter-h1 {
  margin-bottom: 100px;
  padding-bottom: 8px;
  text-align: right;
  font: normal 37px/43px 'Arial Narrow', Arial, sans-serif;
  color: #343434;
  border-bottom: #e5e5e5 solid 2px;
}
.chapter-h2 {
  margin-bottom: 20px;
  padding-bottom: 6px;
  font: bold 17px/27px Tahoma, Geneva, sans-serif;
  color: #343434;
  border-bottom: #e5e5e5 solid 1px;
}
.chapter-p {
  margin-bottom: 30px;
  font: normal 15px/25px Helvetica, Arial, sans-serif;
}
.chapter-em {
  color: #5d5d5d;
}
/* Remove width resctriction on small screens */
@media screen and (max-width: 810px) {
  .chapter {
    width: auto;
  }
}
/* Remove padding on chapter element because print page already has it */
@media print {
  .chapter {
    padding: 0;
  }
}
/* [BOOK CODE] */
.book-code {
  position: relative;
  margin-bottom: 30px;
  padding: 15px 0 15px;
  font: bold 13px 'Courier New';
  color: #34581e;
  border-bottom: #ffd966 solid 2px;
}
.book-code-relevant {
  font: bold 13px 'Courier New';
  color: #b45f06;
}
.book-code-comment {
  font: bold 13px 'Courier New';
  color: #747474;
}
.book-code-before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background-color: #fff1bb;
  background-image: -webkit-linear-gradient(top, #fff1bb 0%, #ffd751 100%);
  background-image: -moz-linear-gradient(top, #fff1bb 0%, #ffd751 100%);
  background-image: -ms-linear-gradient(top, #fff1bb 0%, #ffd751 100%);
  background-image: -o-linear-gradient(top, #fff1bb 0%, #ffd751 100%);
  background-image: linear-gradient(top, #fff1bb 0%, #ffd751 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fff1bb', endColorstr='#ffd751');
}
.book-code-wrapper {
  position: relative;
  padding-top: 25px;
}
/* Print css 0.0.1 | 2013, Sergey Gogolev (gogoleff@gmail.com) | CC BY 3.0 */
/* Inspired on normalize.css 2.1.3 and 1.1.3 | Nicolas Gallagher (git.io/normalize) | MIT */
/* [PRINT] */
@media print {
  img {
    max-width: 100% !important;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a[href]:after {
    content: " (" attr(href) ")";
    color: #666;
    word-wrap: break-word;
    border-bottom: none;
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
    color: #666;
  }
}
