/* BOOK CODE
   ========================================================================== */

.book-code-wrapper {
    position: relative;
    padding-top: 25px;
}

.book-code-comment,
.book-code-accompanying,
.book-code-relevant {
    font: 700 13px "Courier New", Courier, "Andale Mono", monospace;
}

.book-code {
    position: relative;
    margin: 0 0 30px;
    padding: 15px 0;
    color: #34581e;
    border-bottom: #ffd966 solid 2px;
}

.book-code-relevant {
    color: #b45f06;
}

.book-code-comment {
    color: #747474;
}

.book-code-before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #fff1bb;
    background-image: -webkit-linear-gradient(top, #fff1bb 0%, #ffd751 100%);
    background-image: -moz-linear-gradient(top, #fff1bb 0%, #ffd751 100%);
    background-image: -ms-linear-gradient(top, #fff1bb 0%, #ffd751 100%);
    background-image: -o-linear-gradient(top, #fff1bb 0%, #ffd751 100%);
    background-image: linear-gradient(top, #fff1bb 0%, #ffd751 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr="#fff1bb", endColorstr="#ffd751");
}