.page
{
   color: #000;

   background: #999;
}

.page-width
{
    position: relative;

    max-width: 810px;
    margin: 0 auto;

    overflow: hidden;
}

/* [PRINT] */

@media print
{
    @page {
        margin: 40px 70px;
    }
}