@charset "UTF-8";

/* [PAGE] */

.page {
    background: #999;
    color: #000;
}

.page-width {
    position: relative;
    max-width: 810px;
    margin: 0 auto;
    overflow: hidden;
}

/* [PAGE: print] */
@media print {

    @page {
        margin: 40px 70px;
    }

}