/*! [BOOK CODE] */

/* Variables */
bookCodeColor=#34581e
bookCodeColorRelevant=#b45f06
bookCodeColorComment=#747474

.book-code code,
.book-code-comment,
.book-code-relevant
  font 700 13px 'Courier New'

/* Styles */
.book-code
  position relative
  margin 0 0 30px
  padding 15px 0
  color bookCodeColor
  border-bottom #ffd966 solid 2px

  &-relevant
    color bookCodeColorRelevant

  &-comment
    color bookCodeColorComment

  &-before
    position absolute
    top 0
    left 0
    width 100%
    height 25px
    background-linear-gradient(#fff1bb, #ffd751)

  &-wrapper
    position relative
    padding-top 25px
