body,
.page
{
   margin: 0;
   padding: 0
}

.page
{
   position: relative;
   overflow: hidden;
   background: #fff;
   border: none;
   height: 297mm
}

img
{
   width: 100%;
   height: .55cm;
   padding-top: 1.5cm
}

.list
{
   display: none
}

.content
{
   margin: 0;
   padding: 0
}

p
{
   font: 10pt 'Helvetica';
   line-height: .67cm;
   margin: .29cm 0 0;
   padding: 0
}

h1,
h2
{
   color: #444
}

h2
{
   margin: 0;
   padding: 0
}

h1
{
   font: 28pt 'Arial Narrow';
   text-align: right;
   border-bottom: .07cm #eaeaea solid;
   line-height: .71cm;
   padding: 0 0 5mm;
   margin: 0 0 2.51cm
}

h2
{
   font: 700 13pt 'Tahoma';
   line-height: .35cm;
   padding-top: 1.79cm;
   padding-bottom: .37cm;
   border-bottom: .03cm #eaeaea solid
}

.green, .code
{
   font: 700 9pt 'Courier';
   color: #34581e
}

.grey
{
   color: #676767
}

.brown
{
   color: #b45f06;
   font: 700 10pt 'Courier New'
}

a
{
   color: #0b2faa
}

.code-end
{
   border-bottom: .08cm solid #f5d86e;
   padding-bottom: .33cm;
   margin-bottom: .6cm
}