/*! [EMBEDS] */

/*! Remove border from <img> in IE 8/9 */
img
  border 0

/*! Correct overflow displayed oddly in IE 9 */
svg
  &:not(:root)
    overflow hidden

/*! Remove margin from <figure> in Firefox and Chrome */
figure
  margin 0