/*! [FORMS] */

/*! Correct font family not being inherited in all browsers */
/*! Correct font size not being inherited in all browsers */
/*! Address margins set differently in Firefox 4+, Safari 5, and Chrome */
/*! Remove default background */
button,
input,
select,
textarea
  font-family inherit
  font-size 100%
  margin 0
  background none
  vertical-align: baseline

/*! Address Firefox 4+ setting `line-height` on <input> using `!important` in the UA stylesheet */
button,
input
  line-height normal

/*! Correct <button> `text-transform` inheritance in Chrome, Safari 5+, and IE 8+ */
/*! Correct <select> `text-transform` inheritance in Firefox 4+ and Opera */
button,
select
  text-transform none

/*! Correct inability to style clickable 'input' types in iOS */
/*! Set hand-style cursor on clickable elements. */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
  -webkit-appearance button
  cursor pointer

/*! Remove hand-style cursor on disabled elements. */
button[disabled],
html input[disabled]
  cursor default

/*! Address box sizing set to `border-box` in IE 8/9/10 */
/*! Remove excess padding in IE 8/9/10 */
input[type="checkbox"],
input[type="radio"]
  box-sizing border-box
  padding 0

/*! Address `appearance` set to `searchfield` in Safari 5 and Chrome */
/*! Address `box-sizing` set to `content-box` in Safari 5 and Chrome */
input[type="search"]
  -webkit-appearance textfield
  -moz-box-sizing content-box
  -webkit-box-sizing content-box
  box-sizing content-box

/*! Remove inner padding and search cancel button in Safari 5 and Chrome */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance none

/*! Remove <button> and <input> inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
input::-moz-focus-inner
  border 0
  padding 0

/*! Remove default vertical scrollbar in IE7/8/9 */
/*! Improve readability and alignment in all browsers */
textarea
  overflow auto
  vertical-align top