/*! [HTML and BODY] */

/*! Set default font family to sans-serif */
/*! Prevent iOS text size adjust after orientation change, without disabling user zoom */
html
  font-family Arial, "Helvetica Neue", Helvetica, sans-serif
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%


/*! Set default font size */
/*! Remove default margin */
body
  font-size 12px
  margin 0