/*! [IE7] */

/*! Display <audio>, <video>, <canvas> elements as inlines in IE 7 */
.ie7 audio,
.ie7 canvas,
.ie7 video
  display inline
  zoom 1

/*! Correct list images handled incorrectly in IE 7 */
.ie7 ul
  list-style-image none

/*! Fix IE 7 list numbers bug (all items have number one) */
.ie7 ol li
  display list-item

/*! Set bicubic resizing for non-native sized <img> in IE 7 */
.ie7 img
  -ms-interpolation-mode: bicubic

/*! Fix IE 7 button width bug 7 */
.ie7 button,
.ie7 input[type="button"],
.ie7 input[type="reset"],
.ie7 input[type="submit"]
  width auto
  overflow visible

/*! Improve readability of pre-formatted text in IE 7 */
.ie7 pre
  word-wrap: break-word