/*! [LISTS] */

/*! Set default marker position for <ul> and <ol> */
ol, ul
  list-style-position outside

/*! Remove default list markers from <ul> */
ul
  list-style none

/*! Set decimal list style type for <ol> */
ol
  list-style-type decimal

