/*! Normalize css 0.0.1 | 2013, Sergey Gogolev (gogoleff@gmail.com) | CC BY 3.0 */
/*! Inspired by normalize.css 2.1.3 and 1.1.3 | Nicolas Gallagher (git.io/normalize) | MIT */

//@import 'html5'
@import 'html'
@import 'links'
@import 'typo'
//@import 'quotes'
//@import 'lists'
//@import 'tables'
//@import 'embeds'
//@import 'forms'
//@import 'reset'
//@import 'ie7'