/*! Print css 0.0.1 | 2013, Sergey Gogolev (gogoleff@gmail.com) | CC BY 3.0 */
/*! Inspired on normalize.css 2.1.3 and 1.1.3 | Nicolas Gallagher (git.io/normalize) | MIT */
/*! [PRINT] */

@media print

  /*! Prevent images from getting cut off */
  img
    max-width 100% !important

  /*! Underline links with borders */
  a, a:visited
    text-decoration none

  /*! Print href attribute in parenthessis after links */
  a[href]:after
    content " (" attr(href) ")"
    color #666
    word-wrap: break-word
    border-bottom none

  a[href^="javascript:"]:after,
  a[href^="#"]:after
    content ""

  /*! Print title attribute in parenthessis after abbrs */
  abbr[title]:after
    content " (" attr(title) ")"
    color #666