/*! Print css 0.0.1 | 2013, Sergey Gogolev (gogoleff@gmail.com) | CC BY 3.0 */
/*! Based on normalize.css 2.1.3 and 1.1.3 | Nicolas Gallagher (git.io/normalize) | MIT */
/*! [PRINT] */

@media print

  /*! Remove shdows */
  *
    box-shadow none !important
    text-shadow none !important

  /*! Prevent images from getting cut off */
  img
    page-break-inside avoid
    max-width 100% !important

  /*! Underline links with borders */
  a, a:visited
    text-decoration none
    border-bottom 1px solid black

  /*! Print href attribute in parenthessis after links */
  a[href]:after
    content " (" attr(href) ")"
    color #666
    word-wrap: break-word
    border-bottom 1px solid white

  a[href^="javascript:"]:after,
    a[href^="#"]:after
    content ""

  /*! Print title attribute in parenthessis after abbrs */
  abbr[title]:after
    content " (" attr(title) ")"
    color #666

  /*! Prevent page breaks on some elements */
  tr, img, pre, blockquote, h1, h2, h3, h4, h5, h6
    page-break-inside avoid

  /*! Prevent page breaks after headers */
  h1, h2, h3, h4, h5, h6
    page-break-after avoid

  /*! Prevent page breaks on small paragraphs (less than 3 lines)*/
  p
    orphans 3
    widows 3