/*! [QUOTES] */

/*! Remove quotes from <blockquote> and <q> */
blockquote,
q
  quotes none

/*! Remove quotes from <blockquote> and <q> in Safari */
blockquote:before,
blockquote:after,
q:before,
q:after
  content none