/*! Remove default margins and paddings from <ul> and <ol> */
ol, ul
  position relative
  padding 0
  margin 0

/*! Remove default margins and paddings from headers and paragraphs */
/*! Set default font size and weight */
h1,h2,h3,h4,h5,h6,p
  font 400 12px inherit;
  margin 0

/*! Remove default margins from <pre>, <code>, etc */
code,
kbd,
pre,
samp
  margin 0

/*! Remove default border, margins and paddings from <fieldset> and <legend> */
fieldset,
legend
  border 0
  margin 0
  padding 0