/*! [TABLES] */

/*! Remove spacing between <table> cells */
table
  border-collapse collapse
  border-spacing 0

/*! Set default alignment (top, left) for <td> and <th> */
/*! Remove user agent 1px padding in <td> and <th> in IE 8 */
th, td
  vertical-align top
  text-align left
  padding 0