/*! [TYPOGRAPHY] */

/*! Address <abbr> styling not present in IE 8/9, Safari 5, and Chrome */
abbr[title]
  border-bottom 1px dotted

/*! Address <b> and <strong> styling not present in Firefox 4+, Safari 5, and Chrome */
b,
strong
  font-weight bold

/*! Address <dfn> styling not present in Safari 5 and Chrome */
dfn
  font-style italic

/*! Remove differences between Firefox and other browsers for <hr> */
hr
  -moz-box-sizing content-box
  box-sizing content-box
  height 0

/*! Address <mark> styling (yellow background) not present in IE 8/9 */
mark
  background #ff0
  color #000

/*! Set default font of pre-formatted text in all browsers */
/*! Set default white space behaviour */
code,
kbd,
pre,
samp
  font 400 12px monospace, serif
  white-space pre-wrap

/*! Address <small> inconsistent and variable font size in all browsers */
small
  font-size 80%

/*! Prevent <sub> and <sup> affecting `line-height` in all browsers */
sub,
sup
  font-size 75%
  line-height 0
  position relative
  vertical-align baseline

sup
  top -0.5em

sub
  bottom -0.25em