@font-face {
  font-family: "Courier New";
  src: local("Courier New"), url("fonts/CourierNewBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  color: #444;
  background: #ccc;
}

body, div, h2, h3, pre, code {
  margin: 0;
  padding: 0;
}

body {
  font: 15px/100% sans-serif;
  padding-bottom: 20px;
}

p {
  color: #000;
  line-height: 24px;
  margin-bottom: 34px;
}

a, a:visited {
  color: #0239d0;
}

.preface {
  background: url("images/preface.png") no-repeat top right;
  font-size: 0;
  height: 30px;
  padding-bottom: 15px;
  border-bottom: 3px solid #ebebeb;
  margin: 0 0 106px;
}

h3 {
  font: 700 18px sans-serif;
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 8px;
  margin: 59px 0 20px;
}

#page {
  width: 816px;
  margin: 0 auto;
  padding-top: 3px;
}

.sheet {
  position: relative;
  background: white;
  height: 1056px;
  margin: 0 auto 14px;
  box-shadow: 0 0 5px 2px #979797;
  text-align: left;
}

.number {
  position: absolute;
  left: 50%;
  bottom: 18px;
  font-size: 13px;
  color: #000;
  text-align: center;
  width: 30px;
  margin-left: -15px;
}

.sheet-offset {
  padding: 56px 72px 60px 72px;
}

.code-start {
  height: 22px;
  background: url("images/code-start.png") left bottom repeat-x;
}

.code-block code {
  display: block;
  font-size: 12px;
}

code {
  font: 700 13px/150% "Courier New", sans-serif;
  color: #37571e;
  margin-bottom: 4px;
}

code .comment {
  color: #7a7a7a;
}
code .string {
  color: #c45e05;
}

.code-end {
  background: url("images/code-end.png") left bottom repeat-x;
  margin: -22px 0 20px;
  height: 4px;
}

@media print {
  .preface {
    font: 300 38px/110% sans-serif;
    color: #444;
    text-align: right;
    margin-top: -7px;
    padding-bottom: 20px;
  }
  .code-start {
	  border-top: 2px solid #ebebeb;
  }
  .code-end {
	  border-bottom: 2px solid #ebebeb;
  }
}